* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f5f0;
}


:root {
  --primary-color: #765532 !important; /* Add !important to increase specificity */
  --primary-light: #A88662;
  --primary-lighter: #faf6f2;
  --text-dark: #333;
  --text-light: #666;
  --error-color: #f15c5c;
  --white: #fff;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.btn {
  border: none;
  border-radius: 6rem;
  padding: 0.75rem 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--primary-light);
  box-shadow: 0 4px 8px rgba(168, 134, 98, 0.3);
}